<p id="notice"><%= notice %></p>

<p>
  <strong>Predicate numerical:</strong>
  <%= @sample_metadata_numerical.predicate_numerical %>
</p>

<p>
  <strong>Value:</strong>
  <%= @sample_metadata_numerical.value %>
</p>

<p>
  <strong>Sample:</strong>
  <%= @sample_metadata_numerical.sample %>
</p>

<%= link_to 'Edit', edit_sample_metadata_numerical_path(@sample_metadata_numerical) %> |
<%= link_to 'Back', sample_metadata_numericals_path %>
