<%= form_with(model: examination, local: true) do |form| %>
  <% if examination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(examination.errors.count, "error") %> prohibited this examination from being saved:</h2>

      <ul>
      <% examination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.text_field :project_id, id: :examination_project_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
